body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 117, 121, 1) 70%, rgba(0, 212, 255, 1) 100%);
}

.header {
  position: relative;
  left: 14%;
}

.d-flex {
  display: flex;
}

.ul {
  border-radius: 22px;
  background: linear-gradient(225deg, #7f7b9b, #6b6883);
  box-shadow:
    -28px 28px 56px #64617a,
    28px -28px 56px #8a85a8;
}

.main-container {
  justify-content: space-between;
  margin: 0 14%;
}

.main-container > * {
  width: 40%;
}

.score-header {
  align-items: center;
  justify-content: space-between;
}

#form {
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 5px;
}

.submit {
  align-self: flex-end;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow:
    6px 6px 12px #c5c5c5,
    -6px -6px 12px #fff;
}

.scores {
  margin: 0;
  padding: 0;
}

.scores li {
  list-style: none;
  padding: 1px 5px;
}

.scores li:nth-child(even) {
  background: rgb(202, 202, 202);
}
